<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>在spring boot中测试上传文件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<hr />
<span th:text="${path}"></span>

<br /><br />

<form action="/uploadclass" method="POST" enctype="multipart/form-data">
    文件：<input type="file" name="test"/>
    <input type="submit" />
</form>

<a href="/download">下载文件测试</a>

<p>多文件上传</p>
<form method="POST" enctype="multipart/form-data" action="/uploadclass">
    <p>文件1：<input type="file" name="file" /></p>
    <p>文件2：<input type="file" name="file_1" /></p>
    <p><input type="submit" value="上传" /></p>
</form>
</body>
</html>